body {
  font-size: 20px;
}
.flashcard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 5rem 2rem;
}
.flashcard-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 2rem 4rem;
  background-color: rgb(161, 161, 221);
  text-align: center;
  cursor: pointer;
  transition: ease-out 0.3s;
}

.selected {
  background-color: rgb(59, 59, 153);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 2rem 4rem;
  text-align: center;
  color: wheat;
  cursor: pointer;
  transition: ease-in 0.3s;
  transform: rotateY(180deg);
}
.selected p {
  transform: rotateY(180deg);
}

@media screen and (max-width: 900px) {
  .body {
    font-size: 20px;
  }
  .flashcard {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .flashcard-div {
    padding: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .body {
    font-size: 10px;
  }
  .flashcard {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }
  .flashcard-div {
    padding: 2rem;
  }
}
